Chickensoft.LogicBlocks/nupkg/
Chickensoft.LogicBlocks.Generator/nupkg/

Chickensoft.LogicBlocks.Tests/coverage/*
Chickensoft.LogicBlocks.DiagramGenerator.Tests/coverage/*
Chickensoft.Introspection.Generator.Tests/coverage/*

nupkg/
.godot/
bin/
obj/
coverage/
nupkg/
.generated/
.vs/
.idea/
.DS_Store
*.DotSettings.user
*.binlog


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
