Chickensoft.LogicBlocks/nupkg/
Chickensoft.LogicBlocks.Generator/nupkg/

Chickensoft.LogicBlocks.Tests/coverage/*
!Chickensoft.LogicBlocks.Tests/coverage/.gdignore

.godot/
bin/
obj/
.generated/
.vs/
.DS_Store
*.DotSettings.user
